<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Borrador4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<userSettings>
        <Borrador4.Properties.Settings>
                <setting name="mensualidad" serializeAs="String">
                        <value>75</value>
                </setting>
                <setting name="InscripcionBAS1" serializeAs="String">
                        <value>675</value>
                </setting>
                <setting name="InscripcionBAC1" serializeAs="String">
                        <value>700</value>
                </setting>
                <setting name="FechaMora" serializeAs="String">
                        <value>2025-12-01</value>
                </setting>
                <setting name="InscripcionBAS2" serializeAs="String">
                        <value>775</value>
                </setting>
                <setting name="InscripcionBAC2" serializeAs="String">
                        <value>800</value>
                </setting>
        </Borrador4.Properties.Settings>
    </userSettings>
</configuration>